<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581926847061-mgdv9ae2h696c8a6qjbpgg8qu3ug260r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581926847061-mgdv9ae2h696c8a6qjbpgg8qu3ug260r</string>
	<key>API_KEY</key>
	<string>AIzaSyDL92dPUDi2WQCHTZbTz1sSbjBO-vPKY0U</string>
	<key>GCM_SENDER_ID</key>
	<string>581926847061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projects.elderlyCare</string>
	<key>PROJECT_ID</key>
	<string>elderly-care-8fae0</string>
	<key>STORAGE_BUCKET</key>
	<string>elderly-care-8fae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581926847061:ios:cd29e4ae2735f586de0adc</string>
</dict>
</plist>